* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    font-family: var(--default-ff);
    font-size: var(--default-fz);
    font-weight: var(--default-fw);
    line-height: var(--default-lh);
    color: var(--default-color-fz);
    background-color: var(--bc-page);
    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease;
    overflow-x: hidden;

    &.loaded {
        opacity: 1;
    }

    /* полоса прокрутки (скроллбар) */
    // &::-webkit-scrollbar {
      
    // }

    /* ползунок скроллбара */
    &::-webkit-scrollbar-thumb {
        // border-radius: 9em;
        background-color: var(--dark-blue);
    }
}

li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-decoration: none;
}

input,
textarea {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &::placeholder {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        border: none;
    }

    &:focus {
        outline: none;
    }
}

address {
    font-style: normal;
}

a,
button {
    display: inline-flex;
    cursor: pointer;
    background-color: transparent;
}

button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    border: none;
}

select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
        outline: none;
    }
}

select::-ms-expand {
    display: none;
}

textarea {
    resize: none;
}

svg {
    cursor: pointer;

    path {
        cursor: pointer;
    }
}

// main {
//     flex: 1;
// }

.wrapper {
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    max-width: 1430px;
    margin: 0 auto;
    padding-left: var(--grid-padding);
    padding-right: var(--grid-padding);
}

.hide {
    display: none;
}

.hovered {
    transition: 0.5s;
    @media (hover: hover) {
        &:hover {
            -webkit-box-shadow: 0px 0px 24px 6px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 0px 24px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 24px 6px rgba(0, 0, 0, 0.2);
        }
    }
}

.empty-table {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.error {
    font-size: 13px;
    color: var(--red);
}

.error-white {
    font-size: 13px;
    color: var(--white);
}

.shadowed {
    -webkit-box-shadow: 0px 0px 33px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 33px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 33px -1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
}

.section-height {
    min-height: calc(100vh - 180px);
}

.form-manage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 50px;
    margin-top: 20px;
    @media (max-width: 1536px) {
        gap: 20px;
    }
    @media (max-width: 1152px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 864px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.pagination-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);

        transform: skew(-20deg);

        @media (max-width: 480px) {
            width: 25px;
            height: 25px;
        }
        &:first-child,
        &:last-child {
            transform: skew(0deg);
            border-radius: 50%;
        }
    }
}

.paginate-buttons {
    font-size: 14px;
    transform: skew(20deg);
    padding: 13px;
    &.active-page {
        color: #ff0000;
    }
}

.p-multiselect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-radius: 20px;

    &-panel  {
        background-color: var(--white);
        padding: 15px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
        overflow: hidden;
        max-width: 500px;
    }

    &-header {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &-filter-container {
        display: flex;
        align-items: center;
        gap: 10px;
        max-width: 350px;
        width: 100%;

        svg {
            -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
            box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
            width: 35px;
            height: 35px;
            padding: 5px;
            border-radius: 10px;
        }
    }
    &-filter {
        width: 100%;
        border: none;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
        padding: 5px;
        border-radius: 10px;
    }
    &-items  {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
        max-height: 195px;
        overflow-y: auto;
    }
    &-item {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        transition: 0.5s;
            // &[aria-selected="true"] {
            //     display: none;
            // }
        @media (hover: hover) {
            &:hover {
                background-color: rgba(0, 128, 0, 0.2);
                color: var(--green);
            }
        }
    }
    &-close {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
        padding: 5px;
        border-radius: 10px;
        svg {
            width: 20px;
            height: 20px;
        }
    }
}

.p-checkbox-box {
    display: none;
}

.p-checkbox-input {
    display: none;
}

.management-icon {
    height: 50px;
    @media (max-width: 480px) {
        height: 40px;
    }
    @media (max-width: 480px) {
        height: 30px;
    }
}