:root {
    --default-ff: "Gilroy";
    --default-fz: 16px;
    --default-fw: 400;
    --default-lh: 1.5;
    --default-color-fz: #000;
    --bc-page: #fff;
    --grid-padding: 15px;

    --white: #fff;
    --black: #000;
    --light: #BCBEC0;
    --dark-blue: #003465;
    --green: #008000;
    --red: #ff0000;
    --legrand: #601987;
    --blue: #0000ff;
    --yellow: #ffff00;

    --black-2: rgba(0, 0, 0, 0.2);

    --base-color-light-separators: 142,43,196;
}