:root {
    --default-ff: "Gilroy";
    --default-fz: 16px;
    --default-fw: 400;
    --default-lh: 1.5;
    --default-color-fz: #000;
    --bc-page: #fff;
    --grid-padding: 15px;

    --white: #fff;
    --black: #000;
    --light: #BCBEC0;
    --dark-blue: #003465;
}